
<mat-list role="list">
  <mat-list-item role="listitem">Nombre:{{data?.tarea?.name}}</mat-list-item>
  <mat-list-item role="listitem">Username:</mat-list-item>
  <mat-list-item role="listitem">Email:</mat-list-item>
  <mat-list-item role="listitem">address:</mat-list-item>
  <mat-list-item role="listitem">Telefono:</mat-list-item>
  <mat-list-item role="listitem">Pagina web:</mat-list-item>

</mat-list>

<button (click)="incompleto()">marcar no completado</button>
<button (click)="completo()">marcar completado</button>

